.navbarItems {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
    width: 92%;
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
}

.navbar__logo {
    color: #222;
    font-size: 2rem;
    cursor: pointer;
}

.nav__menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    padding: 0;
    list-style: none;
    align-items: center;
}

.nav-links {
    text-decoration: none;
    color: #222;
    font-style: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

.icon {
    padding-right: 8px;
}

.nav-links:hover {
    background-color: #01959a;
    color: #fff;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.nav-links-mobile {
    display: none;
}

.navbar__btn {
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 600;
}

.navbar__btn a {
  text-decoration: none;
  color: #222;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background-color: #ddd;
}

.navbar__btn:hover a{
    background-color: #151516;
    color: #fff;
}

.menu__icom {
    font-size: 20px;
    margin-right: 5px;
    color: #222;
    display: none;
}

@media screen and (max-width: 850px) {
    .navbarItems {
        z-index: 9999;
    }

    .nav__menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: #fff;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        margin-bottom: 20px;
        left: -110%;
        opacity: 0;
        opacity: 1;
        align-items: stretch;
        padding: 80px 0px 30px 0px;
        margin: 20px 0px;
    }

    .nav__menu.active {
        left: 0;
        opacity: 1;
        z-index: -1;
    }

    .nav-links {
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 20px 15px;
        /* margin: 20px 10px; */
    }

    .nav-links:hover {
        background: #01959a;
        transition: none;
    }

    .navbar__btn {
        display: none;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1rem;
        margin: auto;
        border-radius: 4px;
        width: 80%;
        border: 1px solid #01959a;
        text-decoration: none;
        color: #222;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 2px;
        margin-top: 10px;
    }

    .nav-links-mobile:hover {
        background-color: #01959a;
        color: #fff;
        transition: 0.3s ease-in-out;
    }

    .menu__icom {
        display: block;
    }
}