.footer {
    padding: 4rem 6rem 0 6rem;
    background: #000;
    color: #fff;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    flex-wrap: wrap;
}

.footer__logo {
    font-size: 1rem;
}

.footer__logo p {
    padding-top: .5rem;
}

.footer__social__icon a {
    color: #000;
    font-size: 1.5rem;
    margin-left: 1rem;
    padding: .6rem .7rem;
    background: #fff;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    margin-bottom: 0;
}

.footer__social__icon a:hover {
    color: red;
    background: #000;
}

.footer__bottom {
    padding: 1.7rem 0 2.5rem 0;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__nav {
    width: 20%;
}

.footer__nav h4 {
    font-size: 1.3rem;
    padding: 1rem 0 .8rem 0;

}

.footer__nav a {
    display: block;
    text-decoration: none;
    color: #ffffffc1;
    font-size: 1rem;
    line-height: 1.5rem;
    transition: 0.3s ease-in-out;
}

.footer__nav a:hover {
    letter-spacing: 3px;
    color: red;
}

.footer__widget {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #fff2f2a1;
    padding: 2rem 0;
}

.footer__widget p {
    font-size: .9rem;
    letter-spacing: 2px;
}

@media screen and (max-width: 850px) {
    .footer {
        padding: 4rem 2rem;
    }

    .footer__top {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__social__icon {
        padding-top: 1.8rem;
    }

    .footer__social__icon a {
        font-size: 1.2rem;
        padding: .6rem .8rem;

    }

    .footer__social__icon a:nth-child(1) {
        margin-left: 0;
    }

    .footer__nav {
        width: 50%;
    }
}